.button {
  display: block;
  font-family: $font-oswald;
  font-weight: normal;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $main-color;
}
