.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $main-color;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
}
