.details-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-box__value {
  grid-row: 1;
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $basic-black;
}

.details-box__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $dark-gray;
}
