.live-example {
  background-color: $light-gray;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.live-example__title {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.live-example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray;
}

.live-example__total-spent {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
}

.live-example__details {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
