.main-form__title {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.main-form__subject {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;
}

.main-form__subtitle {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
}

.main-form__submit {
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.main-form__text-required {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
}
