.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__title {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
  }
}
