.page-header {
  @media (min-width: $tablet-width) {
    min-height: 110px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: 170px;
  }
}

.page-header__inner {
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo img {
  @media (min-width: $tablet-width) {
    margin-top: -5px;
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    margin-top: 0;
  }
}

.page-header__inner:hover {
  cursor: pointer;
  opacity: 0.8;
}

.page-header__inner:active {
  opacity: 0.6;
}

.page-header__title {
  margin-right: 10px;
  margin-bottom: -7px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
  }
}

.page-header__title svg {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
    margin-left: 2px;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
  }
}

.page-header--nav-closed .page-header__nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header--nojs .page-header__nav,
.page-header--nav-opened .page-header__nav {
  display: block;
}

.page-header--nojs .page-header__nav-toggle {
  visibility: hidden;
}

.page-header__nav-toggle {
  position: relative;
  display: block;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 16px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header--nav-closed .page-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.page-header--nav-opened .page-header__nav-toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
